@import "tailwindcss";

@theme {
  --color-primary-200: #588157;
  --color-primary-500: #3a5a40;
  --color-primary-800: #344e41;
  --color-bg: #ebedf0;
  --color-secondary-200:#adb5bd;
  --color-secondary-500:#6c757d;
  --color-secondary-800:#495057;
}

.shop-btn {
  clip-path: polygon(0 0,100% 0,85% 100%,0 100% );
}

.profile-btn {
    clip-path: polygon(15% 0 , 100% 0 , 100% 100% , 0 100%);
}

.homePage-plant {
  box-shadow: 3px 3px 10px #e8e7e7;
}

.animate-plant {
  transform: scaley(1.5);
}

.slick-list {
  overflow: visible !important;
}

.slick-slide {
  padding: 0 8px;
}