@import "tailwindcss";

@layer components {
  .table__th {
    @apply border-b-2 border-b-gray-500 font-medium p-3 pr-8 pb-3 text-right text-secondary-800;
  }
  .table__td {
    @apply border-b  border-b-gray-300 p-3 pr-8 pb-3 text-right;
  }
}


@theme {
  --color-primary-200: #588157;
  --color-primary-500: #3a5a40;
  --color-primary-800: #344e41;
  --color-bg: #ebedf0;
  --color-secondary-200:#e4e8ed;
  --color-secondary-500:#6c757d;
  --color-secondary-800:#495057;
}

.shop-btn {
  clip-path: polygon(0 0,100% 0,85% 100%,0 100% );
}

.profile-btn {
    clip-path: polygon(15% 0 , 100% 0 , 100% 100% , 0 100%);
}

.custom-shadow {
  box-shadow: 3px 3px 10px #e8e7e7;
}

.animate-plant {
  transform: scaley(1.5);
}

.product-image {
  -webkit-filter: drop-shadow(0px 7px 3px #3c3c3c90);
  filter: drop-shadow(0px 7px 3px #3c3c3c90);
}

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #6c757d; 
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #495057; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}